html {
    height: 100%;
    overflow: hidden;
}

body {
    flex-direction: column;
    display: flex;
    height: 100%;
}

body, button, select {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;

}

.changeSize {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.containerGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.grid {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
    max-width: 600px;
    max-height: 600px;
}

.gridItem {
    display: flex;
    box-sizing: border-box;
    background-color: lightgray;
    border: 1px gray solid;
}
