html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
    max-width: 300px;
    max-height: 300px;
}

.gridItem {
    display: flex;
    box-sizing: border-box;
    background-color: lightgray;
    border: 1px gray solid;
}
